{% extends 'layout.html' %}

{% block content %}

    <h1>About</h1>

    <p> Hola como estas?
        Hola como estas??
        Hola como estas??
        Hola como estas??
        Hola como estas??
        Hola como estas??
        Hola como estas??
        Hola como estas??
        Hola como estas??
        Hola como estas??
        Hola como estas??
        Hola como estas??
        Hola como estas??
    </p>

    <p> Muy bien, Muy bien, Muy bien, Muy bien, Muy bien
        Muy bien, Muy bien, Muy bien, Muy bien, Muy bien
        Muy bien, Muy bien, Muy bien, Muy bien, Muy bien
        Muy bien, Muy bien, Muy bien, Muy bien, Muy bien
        Muy bien, Muy bien, Muy bien, Muy bien, Muy bien
    </p>

{% endblock %}
